<div class="row">
  <div id="col-gauche" class="col-12 col-md-3">
    <div class="title">
      <h1>Les <span>P</span>ôles</h1>
    </div>
    <p>Notre association est organisée en Pôles opérationnels</p>
    <div id="first-item" class="m-3">
      <!-- <h3>Explorez les différents pôles :</h3> -->
      <ul>
        <% @poles.each do |pole| %>
        <li>
          <% if policy(pole).show? %>
          <%= link_to pole.nom, pole_path(pole), class: "btn btn-primary btn-block arondi hvr-pulse m-2"  %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="second-item" class="m-3">
      <h3>L'histoire</h3>
      <p class="text-justify mx-3">L'Association Départementale de SAuvegarde de l'Enfance, de l'Adolescence et des
        Adultes en
        difficulté du Var est
        née le <span class="text-success">14 Janvier 1947</span>; elle portait alors le nom d'Association Toulonnaise
        de
        Protection de l'Enfance.</p>
    </div>


  </div>
  <div id="col-centrale" class="col-12 col-md-6 text-center">
    <div id="rosace_poles">
      <%= image_tag "rosace.png" %>
      <span class="text-secondary">survolez la rosace</span>
      <%= link_to pole_path(@poles[2]) do %>
      <div id="bulle_mna">
        <div class="bulle_text">
          <h5><%= @poles[2].nom %></h5>
          <% @poles[2].services.each do |service| %>
          <p><%= service.nom %></p>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= link_to pole_path(@poles[3]) do %>
      <div id="bulle_ssi">
        <div class="bulle_text">
          <h5><%= @poles[3].nom %></h5>
          <% @poles[3].services.each do |service| %>
          <p><%= service.nom.scan(/(?!par)\p{L}{3,}/).map(&:first).join(' ') %></p>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= link_to pole_path(@poles[0]) do %>
      <div id="bulle_heb">
        <div class="bulle_text">
          <h5><%= @poles[0].nom %></h5>
          <% @poles[0].services.each do |service| %>
          <p><%= service.nom.scan(/(?!par)\p{L}{3,}/).map(&:first).join(' . ') %></p>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= link_to pole_path(@poles[1]) do %>
      <div id="bulle_res">
        <div class="bulle_text">
          <h5><%= @poles[1].nom %></h5>
          <% @poles[1].services.each do |service| %>
          <p><%= service.nom %></p>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= link_to pole_path(@poles[4]) do %>
      <div id="bulle_mo">
        <div class="bulle_text">
          <h5><%= @poles[4].nom %></h5>
          <% @poles[4].services.each do |service| %>
          <p><%= service.nom %></p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div id="mots" class="d-flex flex-row justify-content-center mt-5">
      <div class="third-item m3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary arondi m-2 hvr-wobble-vertical" data-toggle="modal"
          data-target="#ModalPresident">
          Mot de Pierre Crapanzano<br>Président
        </button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary arondi px-4 m-2 hvr-wobble-vertical" data-toggle="modal"
          data-target="#ModalDirecteur">
          Mot de Laurent Savoye<br>Directeur Général
        </button>
      </div>
    </div>
  </div>
  <div id="col-droite" class="col-12 col-md-3">
    <div class="d-flex flex-column align-items-end">
      <div id="chiffres">
        <!-- <h3>En quelques chiffres...</h3> -->
        <ul>
          <li>
            <h6>Conseil d'administration</h6>
            <p><span class="text-info">11</span> membres bénévoles dont <span class="text-info">5</span> forment le
              bureau
            </p>
          </li>
          <li>
            <h6>Siège-direction</h6>
            <p><span class="text-info">11</span> personnes</p>
          </li>
          <li>
            <h6>Professionnels</h6>
            <p><span class="text-warning">plus de 300 </span>Equivalents Temps Plein</p>
          </li>
          <li>
            <h6>Encadrement</h6>
            <p><span class="text-success">1</span> Directeur Général
              <br>
              <span class="text-success">1</span> Directrice des Ressources Humaines
              <br>
              <span class="text-success">5</span> Directeurs de Pôle
              <br>
              <span class="text-success">19</span> Chefs de service</p>
          </li>
          <li>
            <h6>Activité</h6>
            <p><span class="text-warning">7 500 </span>mesures par an</p>
          </li>
          <li>
            <h6>Intervention</h6>
            <p>sur l'ensemble du Département <br>
              (<span class="text-info">24 </span>sites administratifs)</p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!-- Modal President-->
<div class="modal fade" id="ModalPresident" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mot de Pierre Crapanzano<br>Président</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        Notre association vient de dépasser les 70 ans d’existence avec un effectif de plus de 350 personnes et un
        budget de 26 M€. Elle est un acteur important dans le département du Var pour l’aide aux personnes en difficulté
        et a dû et su en permanence adapter sa réponse aux besoins et exigences sans cesse grandissants.
        <br>Ce développement n’a pu se faire qu’en s’appuyant sur des valeurs fortes et partagées et chacun d’entre nous
        peut ainsi être fier en présentant l’association.
        <br> Son futur est inscrit dans ce passé.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Directeur-->
<div class="modal fade" id="ModalDirecteur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mot de Laurent Savoye<br>Directeur Général</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        Dans un environnement en pleine mutation, La Sauvegarde du Var ambitionne de fournir aux adultes aux
        adolescents, aux enfants et aux familles des prestations répondant aux besoins de ces derniers.
        <br>Ce site détaille l’ensemble de nos activités en soulignant la diversité de notre plateau technique et la
        complémentarité de nos établissements et services.<br>
        Grâce à l’investissement de ses salariés, la confiance des financeurs et la richesse de nos partenariats,
        l’ADSEAAV est
        en capacité de relever les nouveaux défis proposés par la société.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
