<div class="content m">
  <header class="p-3 mb-2 text-white">
    <div class="row">
      <div class="col d-flex flex-column-reverse">
        <div class="bulle">
          <div class="bulle-text">
            <%= @pole.bulle %><br>
          </div>
        </div>
      </div>
      <div class="col">
      <h2>
        <%= @pole.nom %><br>
      </h2>
      <p>
        <%= @pole.adresse %><br>
        <%= @pole.adresse2 %><br>
        <%= @pole.code_postal %> <%= @pole.ville %><br>
        <%= @pole.tel %><br>
      </p>
      </div>
    </div>
  </header>
  <div class="row  bg-light m-3 rounded-pill">
    <div class="col p-5">
      <p class="ml-5 p-5">
        <%= @pole.description %><br>
      </p>
    </div>
    <div class="col p-5">
      <p class="mr-5 p-5">
        <%= @pole.principe %><br>
      </p>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col">
        <%= @pole.services %>
      </div>
    </div>
  </div>
</div>


