  <div class="col-9">
    <div class="d-flex flex-wrap">
      <% @jobs.each do |job| %>
      <div class="card mx-1 mb-3 " style="width: 18rem;">
        <div class="card-header">
          <% if policy(job).edit? %>
          <%= link_to job_path(job), method:'DELETE', alerte: 'attention' do %>
          <i class="fas fa-trash-alt"></i>
          <% end %>
          <% end %><h5 class="card-title">
            <%= job.intitule %></h5>

        </div>
        <div class="card-body d-flex flex-column justify-content-between">
          <h6 class="card-subtitle text-muted text-center"><%= job.service.pole.nom %><br><%= job.service.nom %></h6>
          <p class="card-text">
            <% if policy(job).edit? %>
            <%= link_to edit_job_path(job) do %>
            <i class="fas fa-pencil-alt"></i>
            <% end %>
            <% end %>
            <strong><%= job.contrat %></strong><br>
            <%= job.etp %><br>
            Prise de poste : le <%= l(job.date_debut, format: :long, locale: :'fr') %><br>
            <%= "Date de fin : #{l(job.date_fin, format: :long, locale: :'fr')}" if job.contrat != "CDI" %>

          </p>
          <%= link_to job_path(job), anchor: "presentation" do %>
          <button class="btn btn-outline-success">Lire la description complète</button>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          Site : <%= job.site.nom %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
