<header>
  <div class="galerie-job py-3 mx-n3 my-3">
    <div class="banner">
    </div>
    <h2 class="p-2">Rejoignez-nous !</h2>
  </div>
  <h1 class="title">Nos offres d'emploi</h1>
  <div class="row">
    <div class="col">
      <div class="bg-info arondi m-3 p-3 d-flex justify-content-between">
        <h5>Filtrez par intitulé, par site, par contrat, par numéro</h5>
        <%= link_to "Tous les Jobs", jobs_path %>
      </div>
    </div>
    <div class="col">
      <div id="recherche" class="btn btn-success arondi btn-block">
        <form class="form-inline">
          <div class="form-group mb-2">
            <%= form_tag services_path, method: :get do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Recherche"
                  %>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <%= submit_tag "Chercher", class:"btn btn-success"%>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<div class="row" id="list_job">
  <%= render 'card_job'%>
  <div class="col-12 col-md-3">
    <div class="bg-primary arondi m-3 p-3 text-white">
      <h5>Recevez toutes les offres d’emploi. Inscrivez-vous!</h5>
      <p>
        Nos offres d’emploi vous intéressent ? Inscrivez-vous <bR>
        Recevez des alertes sur les nouvelles opportunités correspondant à vos centres d’intérêt et votre profil<br>
        Partagez nos offres avec votre réseau</p>

      <a class="btn btn-outline-light btn-lg arondi hvr-pulse" href="https://mikaelautheman.typeform.com/to/Xe9kGR" data-mode="popup"  data-submit-close-delay="0" target="_blank">Inscrivez-vous !</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

    </div>
    <div class="bg-danger arondi m-3 p-3 text-white">
      <h5>Ce que vous savez déjà de nous...</h5>
      <p>
        ....</p>
      <h5>Ce que vous ignorez peut-être...</h5>
      <p>
        ....</p>
      <h5>Ce qu’on vous invite à découvrir...</h5>
      <p>
        ....</p>
    </div>
    <% if policy(@jobs).new? %>
    <div class="bg-info arondi m-3 p-3 text-white">
      <%= link_to new_job_path do %>
      <i class="fas fa-pencil-alt"></i>Publier une Offre
      <% end %>
    </div>
    <% end %>
  </div>
</div>
