<div class="col-12 col-md-6 mx-auto">
  <div class="jumbotron">
    <h3>Créer une nouvelle offre d'emploi</h3>
    <%= simple_form_for @job do |f| %>
      <%= f.input :intitule %>
      <%= f.input :n_pole_emploi %>
      <%= f.association :service, collection: Service.order(:nom), label_method: :nom, prompt: "Choissez un service" %>
      <%= f.association :site, collection: Site.order(:nom), label_method: :nom, prompt: "Précisez le site" %>
      <%= f.input :contrat %>
      <%= f.input :etp %>
      <%= f.input :date_debut, html5: true  %>
      <%= f.input :date_fin, html5: true  if :contrat != "CDI" %>
      <%= f.input :missions , as: :summernote %>
      <%= f.input :resultats, as: :summernote  %>
      <%= f.input :conditions, as: :summernote  %>
      <%= f.input :ouvert %>
      <%= f.button :submit,  "Publier l'offre", class:"btn btn-success"%>
    <% end %>
  </div>
</div>
