<div class="footer">
  <div class="col-12 col-md-3">
    <div class="footer-menu-bas">
      <ul>
        <li><%= link_to "Nos Pôles", poles_path %></li>
        <li><%= link_to "Nos Sites", sites_path %></li>
        <li><%= link_to "Nos Services", services_path %></li>
        <li><%= link_to "Nous rejoindre", jobs_path %></li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="footer-news text-center">
    <p>Recevez nos offres d'emploi, nos infos, nos actualités</p>
      <a class="btn btn-outline-light btn-lg arondi hvr-pulse" href="https://mikaelautheman.typeform.com/to/Xe9kGR" data-mode="popup"  data-submit-close-delay="0" target="_blank">Contactez-nous </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
  <div class="col-12 col-md-3 text-center">
    <div class="footer-links d-flex justify-content-end">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="col-12 col-md-6 mx-auto">
  <div class="footer-copyright text-center">
      Site réalisé par
      <%= link_to root_path, class: "copyright-link" do %>
      <%= image_tag "logo_glumy.png" %>
      <% end %>
      Glumy.tech
    </div>
  </div>
</div>


