<div class="row">
  <div class="col">
    <div class="title">
      <h1><span class="rose">A</span>ssociation<br>
        <span class="vert">D</span>épartementale<br>
        de <span class="rouge">S</span>auvegarde<br>
        de l’<span class="turquoise">E</span>nfance,<br>
        de l’<span class="rose">A</span>dolescence<br>
        et des <span class="vert">A</span>dultes <br>
        en<span></span> difficulté<br>
        du <span class="rouge">V</span>ar</h1>
      <br>
      <br>
    </div>
  </div>
  <div id="decouvrir" class="col d-flex flex-column align-items-center justify-content-around">
    <%= image_tag "rosace.png" , id:"rosace" %>
    <div class="d-flex align-items-center">
      <%= link_to poles_path do %>
      <button class="btn btn-outline-danger btn-lg arondi">Découvrir</button>
      <% end %>
      <%= image_tag "rosace.png", id:"mini_rosace"%>
    </div>
  </div>
</div>
<div id="separateur" class="row">
  <%= image_tag "rosace.png" , id:"rosace-lat" %>
  <div class="col-4 mx-auto text-center">
    <i class="fas fa-angle-double-down animated bounce infinite"></i>
  </div>
</div>
<div id="valeurs" class="m-3 p-3 text-center">
  <h3>Nos Valeurs</h3>
  <div class="cards_container d-flex flex-wrap justify-content-around">
    <div class="card card-body card_value m-2">
      <h4>Confiance</h4>
    </div>
    <div class="card card-body card_value m-2 ">
      <h4>Respect</h4>
      <p>
        des personnes avec lesquelles l’association est en relation en interne et en externe pour la mise en oeuvre de
        ses missions
      </p>
    </div>
    <div class="card card-body card_value m-2">
      <h4>Ecoute</h4>
      <p>des personnes</p>
    </div>
    <div class="card card-body card_value m-2">
      <h4>Professionnalisme</h4>
    </div>
    <div class="card card-body card_value m-2">
      <h4>Loyauté</h4>
      <p>entre nous, envers les personnes, envers les institutions, envers nos engagements</p>
    </div>
    <div class="card card-body card_value m-2">
      <h4>Citoyenneté</h4>
    </div>
  </div>
</div>
<div id="orientations" class="m-3 p-3 text-center">
  <h3>Nos Engagements</h3>
  <div class="cards_container d-flex justify-content-around">
    <div class="card card-body card_orientation m-2">
      <h4>Orientation 1</h4>
      <p>Une aide à la personne conduite dans le strict respect de la personne, en privilégiant l’éducatif et le
        soutien.
      </p>
    </div>
    <div class="card card-body card_orientation m-2">
      <h4>Orientation 2</h4>
      <p> Une prise en compte globale de la problématique des personnes accueillies, en mobilisant l’ensemble des
        ressources et des compétences de la Sauvegarde et/ou en collaborant avec des structures extérieures.
        C’est la notion de parcours global.</p>
    </div>
    <div class="card card-body card_orientation m-2">
      <h4>Orientation 3</h4>
      <p>Une offre de services au plus près des besoins des personnes.</p>
    </div>
  </div>
</div>
<h3>Etat d'avancement du travail</h3>
<p>Liste des Elements Implémentés</p>
<h4>Les pôles</h4>
<ul>
  <% @poles.each do |pole| %>
  <li>
    <%= pole.nom %>
    <% pole.services.each do |service| %>
    <p> <%= service.nom %> </p>
    <% service.antennes.each do |antenne| %>
    <p> <%= antenne.nom %> </p>
    <% end %>
    <% end %>
  </li>
  <% end %>
</ul>
<h4>Les sites</h4>
<ul>
  <% @sites.each do |site| %>
  <li>
    <%= site.nom %>
    <% site.antennes.each do |antenne| %>
    <p> <%= antenne.nom %> </p>
    <% end %>
  </li>
  <% end %>
</ul>
