<div class="row">
  <div class="col">
    <div class="title">
      <h1><span class="rose">A</span>ssociation<br>
        <span class="vert">D</span>épartementale<br>
        de <span class="rouge">S</span>auvegarde<br>
        de l’<span class="turquoise">E</span>nfance,<br>
        de l’<span class="rose">A</span>dolescence<br>
        et des <span class="vert">A</span>dultes <br>
        en<span></span> difficulté<br>
        du <span class="rouge">V</span>ar</h1>
    </div>
  </div>
  <div id="decouvrir" class="col d-flex flex-column align-items-center justify-content-around">
    <%= image_tag "rosace.png" , id:"rosace"%>
    <div class="d-flex align-items-center">
      <%= link_to poles_path do %>
      <button class="btn btn-outline-danger btn-lg arondi">Découvrir</button>
      <% end %>
      <%= image_tag "rosace.png", id:"mini_rosace"%>
    </div>
  </div>
</div>


<h3>Etat d'avancement du travail</h3>
<p>Liste des Elements Implémentés</p>
<h4>Les pôles</h4>
<ul>
  <% @poles.each do |pole| %>
  <li>
    <%= pole.nom %>
    <% pole.services.each do |service| %>
    <p> <%= service.nom %> </p>
    <% service.antennes.each do |antenne| %>
    <p> <%= antenne.nom %> </p>
    <% end %>
    <% end %>
  </li>
  <% end %>
</ul>
<h4>Les sites</h4>
<ul>
  <% @sites.each do |site| %>
  <li>
    <%= site.nom %>
    <% site.antennes.each do |antenne| %>
    <p> <%= antenne.nom %> </p>
    <% end %>
  </li>
  <% end %>
</ul>
