<div class="col-12 col-md-6 mx-auto">
  <div class="jumbotron">
  <h2>Site en maintenance</h2>
<p>Administrateur : Vous devez vous connecter pour acceder</p>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Se connecter" %>
  </div>
<% end %>


</div>
</div>
