<% @sites.each do |site| %>
<div class="card mx-1 mb-3 " style="width: 22rem;">
  <div class="card-header">
    <h5 class="card-title">
      <% if policy(site).edit? %>
        <%= link_to edit_site_path(site) do %>
        <i class="fas fa-pencil-alt"></i>
        <% end %>
      <% end %>
    <%= site.nom %></h5>
    <%= cl_image_tag site.photo.key, class: "card-img-top mb-1" if site.photo.attached? %>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle text-muted">Adresse :</h6>
    <p class="card-text">
      <%= site.adresse2 %><br>
      <%= site.adresse %><br>
      <%= site.code_postal %> <%= site.ville %><br>
      <%= site.tel %><br>
      Responsable: <%= site.responsable %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <ul>
      <% site.antennes.each do |antenne| %>
        <li><%= antenne.nom %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
