<%= cl_image_tag site.photo.key, class: "card-img-top mb-1" if site.photo.attached? %>
<h6><%= site.nom %></h6>
<p><%= site.adresse %> <%= site.adresse2 %> - <%= site.code_postal %> <%= site.ville %></p>
