<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- meta google -->
  <title>ADSEAAV | La Sauvegarde du Var</title>
  <meta name="description"
    content="Association Départementale de Sauvegarde de l'Enfance, de l'Adolescence et des Adultes en difficulté du Var">

  <!-- meta facebook -->
  <meta property="og:title" content="ADSEAAV | La Sauvegarde du Var">
  <meta property="og:image" content="facebook-card.jpg">
  <meta property="og:description"
    content="Association Départementale de Sauvegarde de l'Enfance, de l'Adolescence et des Adultes en difficulté du Var">
  <meta property="og:site_name" content="ADSEAAV" />

  <!-- meta twiter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@">
  <meta name="twitter:title" content="ADSEAAV | La Sauvegarde du Var">
  <meta name="twitter:description"
    content="Association Départementale de Sauvegarde de l'Enfance, de l'Adolescence et des Adultes en difficulté du Var">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:image:src" content=<%= image_tag "twitter-card.jpg"%>>

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>

</html>
